/* Remplace #conteneur par .conteneur */
.conteneur {
    display: none; /* Masqué par défaut */
    flex-direction: column;
    align-items: center;
    background-color: rgb(185, 28, 28);
    width: 100%;
    /* ... le reste de ton code ... */
}

.afficher {
    display: flex !important;
}